* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f6e58d;
}

.login-div {
  margin: 100px auto;
  width: 350px;
  background-color: #fff;
  padding: 60px;
}

.title {
  text-align: center;
  color: black;
}

.title {
  font-weight: 10px;
  font-size: 35px;
}

.form {
  width: 100px;
  margin: 30px;
}
