.outerBox{
  border: solid 5px;
  width: 60%;
  height:550px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  background-color: yellow;
}

.innerBox{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  margin-bottom: 1px;
  border-radius: 15px;
  height: 85%;
  text-overflow: ellipsis;
  font-size: large;
  z-index: 4;
  border: solid 2px black;
  margin-right: 5px;
  margin-left: 5px;

}

