<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login_style.css') }}"
    />
  </head>
  <body>
    <div class="login-div">
      <div class="title">Login</div>
      <div class="form">
        <div class="username">
          <input type="text" placeholder="Username" />
        </div>
        <div class="password">
          <input type="text" placeholder="Password" />
        </div>
        <div class="options">
          <div class="remember-me">
            <input id="remember-me" type="checkbox" />
            <label for="remember-me">Remember Me</label>
          </div>
        </div>
        <button class="signin-btn">Login</button>
        <button class="sign-up">
          <a href="#">Dont Have An Account? Sign Up Here</a>
        </button>
      </div>
    </div>
  </body>
</html>
