<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/styles/MainPageStyle.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/MainPageStyle.css') }}">
    <title>Document</title>
</head>
{% if user %}
<nav>
  <a href="{{url_for('logout')}}">Logout</a>
</nav>
{% else %}
<nav>
  <a href="{{url_for('login')}}">Login</a> ||
  <a href="{{url_for('register')}}">Register</a>
</nav>
{% endif %}

<body style="background-color: tan;">
    <!-- Your Notes Column -->

    <div class="rowContainer">
        <div class="headerContainer">

            <h2 style="color: black; height: 10px; padding: 0; text-align: center;">{{user}}'s' Notes</h2>
            <form method = 'POST'>
                <div class="searchHolder" style="display: flex">
            <input type="text" class="noteSearch" placeholder="Search..." name = 'search' action="search"></input>
            <button type="submit" formaction='/notes' formmethod="POST">GO</button>
                </div>
            </form>
            <!-- This is for the pinned note if there is one -->
            {% if pinned %}             
            <div class="pinnedCard">

                <div class="container">

                    <div style="display: flex;">
                        <a href="/note/{{pinned.id}}">{{pinned.title}}</a>
                        <form method = 'POST' style="margin-left: 5px;" class = buttonForm> <button type="submit" formaction='/note/unpin' formmethod="POST"  class = buttonForm>unpin</button></form>
                        </div>  
                    <p>{{ pinned.text }}</p>


                </div>

            </div>
            {% endif %}
            <div class="notecol">
                {% for note in notes %}

                <div class="card">

                    <div class="container">
                        <div style="display: flex;">
                        <a href="/note/{{note.id}}">{{note.title}}</a>
                        <form method = 'POST' style="margin-left: 5px;"> <button type="submit" formaction='/note/pin/{{note.id}}' formmethod="POST"  class = buttonForm> pin</button></form>
                        </div>  
                        <p>{{note.text}}</p>


                    </div>

                </div>
                {% endfor %}



                <div class="filler" style="height: 25%;"> </div>

            </div>

        </div>
        
        <div class="headerInputContainer">
            <h2 style="color: black;  padding: 0; text-align: center;">Create Note</h2>
            <form action="/addNote" method="POST" style="height: 90%;">
                <div class="inputContainer">
                    <input type="text" class="noteTitle" placeholder="Title" name="title" required ="true"></input>
                    <textarea class="noteBody" placeholder="Body" name="text" required="true"></textarea>
                    <input type="submit" value="Save" class="submit">
            </form>
        </div>

    </div>

    </div>
</body>

</html>
