<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/styles/noteView.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/noteView.css') }}">

    <title>Document</title>
</head>
    <body>
    <div class="outerBox">
    <h2 style="color: black; height: 10px; padding: 0; text-align: center;">Your Notes</h2>

    <div class="innerBox">
        <p>
            test test aaspkdkjaskdmasmd
            askf naslkfn alsnfk nasfkas jas
            jfalksj fdklajsfkj asklfj
            aksjf kjaskfjaksjf
        </p>
    </div>
    </div>
 </body>
</html>
