<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/styles/noteView.css"> -->
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/noteView.css') }}">

    <title>Document</title>
    <nav>

      <a href="{{url_for('notes')}}">Notes</a>

    </nav>
</head>
    <body style="background-color: gray;">
    <div class="outerBox">
    <h2 style="color: black; padding: 0; text-align: center;">{{note.title}}</h2>

    <form method='POST' >
    <div class="innerBox">
        <textarea name = "text">{{ note.text }}</textarea>
    </div>

      <div class="edit-delete-button">
        <button type='submit' formaction='/note/edit/{{ note.id }}'>Save Changes</button>
        <button type='submit' formaction='/note/delete/{{ note.id }}'>Delete</button>
      </div>
    </form>
    </div>


    {% if note.comments %}
    {% if note.comments|length > 0 %}
      <h2>Comments</h2>
      <ul>
      {% for comment in note.comments %}
        <li>{{ comment.content }}</li>
        <form method = 'POST'> <button type="submit" formaction='/comment/delete/{{ comment.id }}/{{ note.id }}' formmethod="POST">Delete</button></form>
      {% endfor %}
      </ul>
    {% endif %}
  {% endif %}
    <form action="{{ url_for('new_comment', note_id=note.id) }}" method="post">
      <div class="formwrapper">
        <h2 class="title">Add a comment</h2>
        <div class="form-field">
          {{ form.comment.label }} <br/> {{ form.comment }}
        </div>
        {{ form.submit }}
      </div>
    </form>

 </body>
</html>
