<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/styles/noteView.css"> -->
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/noteView.css') }}">

    <title>Document</title>
    <nav>

      <a href="{{url_for('notes')}}">Notes</a>

    </nav>
</head>
    <body style="background-color: gray;">
    <div class="outerBox">
    <h2 style="color: black; padding: 0; text-align: center;">{{note.title}}</h2>

    <form method='POST' >
    <div class="innerBox">
        <textarea name = "text">{{ note.text }}</textarea>
    </div>

      <div class="edit-delete-button">
        <button type='submit' formaction='/note/edit/{{ note.id }}'>Save Changes</button>
        <button type='submit' formaction='/note/delete/{{ note.id }}'>Delete</button>
      </div>
    </form>
    </div>






        <!--    COMMENTING STUFF HERE     -->
    <div class="commentOuterBox">
      <h4 style="color: black; padding: 0; text-align: left; padding-left: 10px; margin-top: 2px; padding-bottom: 2px;">Create Comment</h4>
      <form method='POST' >
        <div class="commentTextBox">
          <textarea name = "text" placeholder="Add a comment..."></textarea>
        </div>
        <div class="edit-delete-button">
          <button type='submit' formaction="/note/{{note.id }}/comment">Submit</button>
        </div>
      </div>
    </form>

 </body>
</html>
